/*----------------------------------------------------------------------------------*/
/*           							GENERAL                                     */
/*----------------------------------------------------------------------------------*/

* {
	font-family: Arial;
  	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*--------------------------*/
/*           DIV            */
/*--------------------------*/

.divNavigation {
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
	padding-bottom: 2%;
	padding-top: 1%;
	z-index: 1;
}

/*--------------------------*/
/*          IMAGE           */
/*--------------------------*/

.divNavigation img {
	height: 20px;
	margin-left: 5%;
	margin-right: 5%;
	
	background-color: pink;
}

.divNavigation img:hover {
	border: 1px solid white;
}

/*--------------------------*/
/*          INLINE          */
/*--------------------------*/

img {
	display: inline;
}

/*--------------------------*/
/*         SCROLLBAR        */
/*--------------------------*/

::-webkit-scrollbar {
	background: turquoise;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  	background: white; 
  	border-radius: 10px;
	border: 2px solid pink;
}

/*----------------------------------------------------------------------------------*/
/*           							Responsive                                  */
/*----------------------------------------------------------------------------------*/
@media screen and (max-width:600px) {
		
}